
 .fleetDiscount
{
  clear: left;
	margin-top:12px;
}

body.customerCtrl ul.tabControl li.customerCtrl,
body.customerCtrl #divCustomerCtrlOuter,
body.specialCtrl ul.tabControl li.specialCtrl,
body.specialCtrl #divSpecialOrderCtrlOuter
body.deliveryCtrl ul.tabControl li.deliveryCtrl,
body.deliveryCtrl #divDeliveryCtrl
{
	display:none;
}

.fleetDiscount h3
{
	margin-bottom:6px!important;
	margin-top:12px;
}























div.usp_HelpPromotion
{ 
	background-color:#E7F3F3;
	width:680px;
} 
div.usp_HelpPromotion ul
{ 
  list-style: none;
	margin-bottom:6px;
} 
div.usp_HelpPromotion ul.headline
{ 
	border-bottom:1px solid #B8C9D1;
	min-height:18px;	
} 
div.usp_HelpPromotion ul body
{
	background-color:#fff;
}

div.usp_HelpPromotion ul li .label
{
  width:250px; 
} 

div.usp_HelpPromotion ul.headline li
{
	font-weight:bold;
	padding:0 0 6px 6px;
}
div.usp_HelpPromotion ul.headline li em
{
	font-style:normal;
	display:block;
	float:left;
	width:39px;
}

div.usp_HelpPromotion .body input
{
	font-style:normal;
	display:block;
	float:left;
	margin:0 14px;
}
div.usp_HelpPromotion .body li
{
	clear:left;
	height:18px;
} 

div.usp_HelpPromotion .body label
{
	cursor:default!important;
}
div.usp_HelpPromotion .body label b
{
	display:block;
	float:left;
	width:22px;
}
div.usp_HelpPromotion .body label a
{
	margin:0;
	padding:0;
	width:22px;
	background-position:-88px -88px !important;
}

div.usp_HelpPromotion label
{
	display:block;
	float:left;
	white-space:nowrap;
	overflow:hidden;
	width:260px;
}

div.usp_HelpPromotion .dateSize
{
	width:80px !important;
	text-align:center;
}
div.usp_HelpPromotion .modelSize
{
	width:88px !important;
	text-align:center;
}
div.usp_HelpPromotion .typeSize
{
	width:33px !important;
	text-align:center;
}



div.usp_HelpVehicle
{ 
	background-color:#E7F3F3;
} 
div.usp_HelpVehicle .body
{ 
	background-color:#fff;
} 
div.usp_HelpVehicle ul
{ 
  list-style: none;
	border-bottom:1px solid #B8C9D1;
} 
div.usp_HelpVehicle ul.headline li
{
  font-weight:bold;
	padding:0 0 6px;
}
div.usp_HelpVehicle ul.headline li span
{
  width:140px;
	display:block;
	float:left;
	padding-left:12px;
}
div.usp_HelpVehicle ul.headline li em
{
	font-style:normal;
	margin-left:15px;
}

div.usp_HelpVehicle .body li
{
	border-right:1px solid #888;
	clear:left;
	height:16px;
} 

div.usp_HelpVehicle .body label
{
  width:100%;
	display:block;
} 
.client_ie6 div.usp_HelpVehicle .body label
{
  width:90%;
} 

div.usp_HelpVehicle .body input
{
	margin-left:8px;
}
div.usp_HelpVehicle .body b
{
  width:138px;
	display:block;
	float:left;
	padding-top:4px;
	text-align:right;
}
div.usp_HelpVehicle .body span
{
	margin-left:6px;
}


html>body div.usp_HelpVehicle .body span
{
	margin-left:6px;
}





