.pool { 
	margin:0;
	padding:0;
} 

.pool h2 {
	font-size: 11px;
	color: white;
	height: 20px;
	padding: 3px 0px 0px 10px;
	margin: 0 0 0px 0;
	vertical-align: middle;
	text-align: left;
  border-bottom: 2px solid black;
} 

.pool div.content ul {
	margin: 0; 
	padding: 0;
	list-style:none;
}

.pool div.content ul li {
	margin: 0; 
	padding: 0;
	clear: left;
	overflow:hidden;
}
* html .pool div.content ul li {
	height:1%; /* height: 1%: IE6 Holly Hack. */
}

* html>body .pool div.content ul li {
	height:auto;
}

.pool div.content ul li span {
   height:20px;
	width:60px;
	margin: 0; 
	vertical-align:top;
	text-align: center;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	display: block;
	float: left;
}

.pool div.content ul li span.label { 
	font-weight:bold; 
} 

.pool div.content ul li span.radio { 
	border-top: 1px solid white;
} 

.pool div.content ul li span.legend {
	border: 1px solid white;
}

.pool div.content ul li span.block {
	background-color : #ADDCFA;
}

/*Markieren von reservierten Fahrzeugen*/
.pool div.content ul li span.reserved {
	background-color : #FFA4A4;
}

.pool div.content ul li span.label {
	border:none;
	margin: 0px 0px 0px 10px; 
	width : 120px;
}

.pool div.content ul li span.pool {
	background-color : #99CC99;
}

.pool div.content ul li span.desc { 
	font-weight:  bold; 
	padding-left: 5px;
	width:        155px;
	text-align:   left;
	border-left:  1px solid white;
	/*background-color: #99CC99;*/
	background-color : #eaeaea;
} 

.pool div.content ul li span.descx { 
	font-weight:  bold; 
	padding-left: 5px;
	width:        155px;
	text-align:   left;
	border-left:  1px solid white;
	border-bottom:  0px solid white;
} 



.pool div.content ul li span.chainedTop { 
	border-top:  1px solid white;
} 



.pool div.content ul li span.first { 
  height:22px;
	font-weight:  bold; 
	padding-left: 5px;
	width:        155px;
	text-align:   left;
} 


.pool div.content ul li span.head { 
	/*background-color: #60BB60;*/
	background-color: #99CC99;

} 

.pool div.content ul li span.sub { 
	/*background-color: #99CC99;*/
	background-color: #eaeaea;
} 

.pool div.content ul li span.prnr { 
	background-color: #dddddd;
} 


.pos_1 .pos_1,
.pos_2 .pos_2,
.pos_3 .pos_3,
.pos_4 .pos_4,
.pos_5 .pos_5,
.pos_6 .pos_6,
.pos_7 .pos_7,
.pos_8 .pos_8{ 
	background-color: Silver !important;
}

.status_LOCKED_1 .pos_1,
.status_LOCKED_2 .pos_2,
.status_LOCKED_3 .pos_3,
.status_LOCKED_4 .pos_4,
.status_LOCKED_5 .pos_5,
.status_LOCKED_6 .pos_6,
.status_LOCKED_7 .pos_7,
.status_LOCKED_8 .pos_8{ 
	background-color: #ADDCFA;
}

.status_RESERVED_1 .pos_1,
.status_RESERVED_2 .pos_2,
.status_RESERVED_3 .pos_3,
.status_RESERVED_4 .pos_4,
.status_RESERVED_5 .pos_5,
.status_RESERVED_6 .pos_6,
.status_RESERVED_7 .pos_7,
.status_RESERVED_8 .pos_8{ 
	background-color: #FFA4A4;
} 

.status_FREE_1 .pos_1,
.status_FREE_2 .pos_2,
.status_FREE_3 .pos_3,
.status_FREE_4 .pos_4,
.status_FREE_5 .pos_5,
.status_FREE_6 .pos_6,
.status_FREE_7 .pos_7,
.status_FREE_8 .pos_8{ 
	background-color: #99CC99;
}

.button-disabled
{
  color: #A9A9A9 !important;
}


.pool div.content ul li .button {
	font-size: 11px;
	FONT-FAMILY: Arial, univers, Helvetica, Verdana, sans-serif;
	border: none;
	background-color: transparent;
	height: 20px;
	cursor: pointer;
}

.pool div.content ul li span.pos_
{ 
  border-bottom:  none;
} 



.transportSection .body div strong
{
  display:block;
  float:left;
  width:25em;
}

.transportSection .body div
{
  clear:left;
}

